<section>
    <h2>Welcome</h2>
    {{title}}
    <button class='btn btn-default' ng-click=login()>Log In</button>
    <div class="progress">
        <div class="progress-bar progress-bar-{{progressstatus}}" role="progressbar" aria-valuenow="{{pointsEarned}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pointsEarned}}%">
            <span class="sr-only">40% Complete (success)</span>
        </div>
    </div>
    <a class="questiontype">Disposables</a>
    <a class="questiontype">Energy</a>
    <a class="questiontype">Food</a>
    <a class="questiontype">Furnishings and Building Mat.</a>
    <a class="questiontype">Poll & Chem Reduction</a>
    <a class="questiontype">Waste</a>
    <a class="questiontype">Water</a>
    <div class="container-fluid">
        <div class="row" style="border: solid 1px black;">
            <div class="container-fluid">
                <div class="row" style="background-color:grey;">
                    <span class="pull-right glyphicon glyphicon-chevron-right" ng-click="moveRight()"></span>
                    <span class="pull-right glyphicon glyphicon-chevron-left" ng-click="moveLeft()"></span>
                    <span class="pull-right">{{index + 1}} of {{standards.length}}</span>
                </div>
                <div class="row">
                    <b>{{standards[index].question}}</b><br />
                    <!--<input type="radio" name="display" ng-model="displayed" value="1" ng-change="computeScore(1)" />
            <input type="radio" name="display" ng-model="displayed" value="0" ng-change="computeScore(0)" />-->
                    <label ng-repeat="option in standards[index].optionList"><input type="radio" ng-model="standards[index].choice" value="{{option.points}}" ng-change="computeScore(option.points)" />{{option.text}}</label>
                </div>
            </div>
        </div>
    </div>
</section>