<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Green Restaurant Association</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src = "/babylon.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-3.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Green My Restaurant</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="dinegreen.org">Resources</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

<!--       <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div> -->
        <!-- <div class = "col-md-3">Div 1</div> -->
        <div class = "col-md-8">
          <div id = "centerColumn">
            <div class = "row">
              <div id = "graphicsDiv">
                <div id = "settings"><button>Settings</button>
                </div>
                  <canvas id = "renderCanvas"></canvas>
              </div>
            </div>  
            <div class = "row">  
              <div id = "questionBox">
                <div class = "topOfBox">
                  <div id = "prevNext">
                    <button id = "previous">Prev</button>
                    <button id = "next">Next</button>
                  </div>
                </div>
              <div id = "questions">
                    <div>
                      <div class="row" style="background-color:grey">
                          <span class="pull-right glyphicon glyphicon-chevron-right" ng-click="moveRight()"></span>
                          <span class="pull-right glyphicon glyphicon-chevron-left" ng-click="moveLeft()"></span>
                          <span class="pull-right">{{index + 1}} of {{standards.length}}</span>
                      </div>
                      <div class="row">
                          <form>
                              <b>{{standards[index].question}}</b><br />
                              <!--<input type="radio" name="display" ng-model="displayed" value="1" ng-change="computeScore(1)" />
                              <input type="radio" name="display" ng-model="displayed" value="0" ng-change="computeScore(0)" />-->
                              <label ng-repeat="option in standards[index].optionList"><input type="radio" ng-model="standards[index].choice" value="{{option.points}}" ng-change="computeScore(option.points)" />{{option.text}}</label>
                          </form>
                      </div>
                  </div>
              </div>
              <div class = "scrollBar"></div>
              </div>
            </div>
            <div class = "row">
              <div class = "panel-group" id = "accordion" role = "tablist" aria-multiselectable = "true">
                <div class = "panel panel-default">
                  <div class = "panel-heading" role = "tab" id = "headingOne">
                    <h4 class = "panel-title">
                      <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseOne" aria-expanded = "true" aria-controls = "collapseOne">
                        Legislation
                      </a>
                    </h4>
                  </div>
                  <div id = "collapseOne" class = "panel-collapse collapse in" role = "tabpanel" aria-labelledby = "headingOne">
                    <div class = "panel-body">
                    Some content
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class = "col-md-6">Div 2</div> -->
        <div class = "col-md-4" id = "pointsBox">
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{pointsEarned}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pointsEarned}}%">
                    <span class="sr-only">40% Complete (success)</span>
                </div>
            </div>
        </div>
      <!-- </div> -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap-3.3.1/dist/js/bootstrap.min.js"></script>
        <script>
      var canvas = document.getElementById("renderCanvas");
      var engine = new BABYLON.Engine(canvas, true);
      var scene = new BABYLON.Scene(engine);
      var camera = new BABYLON.ArcRotateCamera("Camera", Math.PI * 1.2, (Math.PI/2)*.8,20, new BABYLON.Vector3(-5, 10, -5), scene);
      var light0 = new BABYLON.PointLight("Omni", new BABYLON.Vector3(-10, 10, -10), scene);
      scene.activeCamera.attachControl(canvas);

      var ground = new BABYLON.Mesh.CreateGround("ground", 10, 10, 100, scene, false);
      var wall1 = new BABYLON.Mesh.CreatePlane("wall1", 10, scene, false);
      wall1.position.z = 5;
      wall1.position.y = 5;

      var wall2 = new BABYLON.Mesh.CreatePlane("wall2", 10, scene, false);
      wall2.rotation.y = Math.PI/2;
      wall2.position.y = 5;
      wall2.position.x = 5;

      var burnerDistanceFromCenter = .8;
      var burnerHeight = .1;
      var burnerVerticalPostion = 3.05;
      var burner1 = new BABYLON.Mesh.CreateCylinder("burner1", burnerHeight, .8, .8, 20, scene, false);
      burner1.position.y = burnerVerticalPostion;
      burner1.position.x = burnerDistanceFromCenter;
      burner1.position.z = burnerDistanceFromCenter;

      var burner2 = new BABYLON.Mesh.CreateCylinder("burner2", burnerHeight, .8, .8, 20, scene, false);
      burner2.position.y = burnerVerticalPostion;
      burner2.position.x = -burnerDistanceFromCenter;
      burner2.position.z = burnerDistanceFromCenter;

      var burner3 = new BABYLON.Mesh.CreateCylinder("burner3", burnerHeight, .8, .8, 20, scene, false);
      burner3.position.y = burnerVerticalPostion;
      burner3.position.x = -burnerDistanceFromCenter;
      burner3.position.z = -burnerDistanceFromCenter;

      var burner4 = new BABYLON.Mesh.CreateCylinder("burner4", burnerHeight, .8, .8, 20, scene, false);
      burner4.position.y = burnerVerticalPostion;
      burner4.position.x = burnerDistanceFromCenter;
      burner4.position.z = -burnerDistanceFromCenter;
      var click = 0;
      var stovePic = new Image();
      window.addEventListener("click", function(){
        var stoveDiv = document.getElementById('stovePic');
        var pickResult = scene.pick(scene.pointerX, scene.pointerY);
        
        if (pickResult.pickedMesh.name === "Box"){
          stovePic.src = pickResult.pickedMesh.id;
          if(!(click % 2) || (click === 0)){
            stoveDiv.appendChild(stovePic);
          }
          else{
            
            stoveDiv.removeChild(stovePic);
          }
          click += 1;
        }
      });


      var box = BABYLON.Mesh.CreateBox("Box", 3, scene);
      box.position.y = 1.5;

      box.id = "http://www.appliancist.com/ge-range-jb850.jpg";
      
      engine.runRenderLoop(function() {
        scene.render();
      });

      window.addEventListener("resize", function(){
        engine.resize();
      })
    </script>
  </body>
</html>
