<section>
    <h2>Welcome</h2>
    {{title}}
    <button class='btn btn-default' ng-click=login()>Log In</button>
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{pointsEarned}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pointsEarned}}%">
            <span class="sr-only">40% Complete (success)</span>
        </div>
    </div>
    <table>
        <tr ng-repeat="standard in standards">
            <td>

            </td>
        </tr>
    </table>
</section>