<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Green My Restaurant</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="/bootstrap-3.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/desktop.css' media="only screen and (min-width: 721px)"/>
	<link href="/stylesheets/mobile.css" rel="stylesheet" type="text/css" media="only screen and (max-width: 720px)" />
	<link rel = "stylesheet" href = "../owl-carousel/owl.carousel.css">
	<link rel = "stylesheet" href = "../owl-carousel/owl.theme.css">
	<script src = "../owl-carousel/owl.carousel.js"></script>
  <script src="/DemoRestaurant.js"></script>

    <script src = "../babylon.js"></script>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/base.css" rel="stylesheet">
  </head>
  <body ng-app="guiApp">
<!-- 	<div data-ng-include data-src="'/angularviews/navbar.html'"></div> -->
<!--     <div data-ng-include data-src="'/angularviews/login.html'"></div> -->
	<div class="container-fluid">

    <div id="buttonCarousel" class="owl-carousel sliderButtons"  aria-label = "...">
      <div class = "sliderButton">
        <a href="/gui/#/Disposables"><img src="../carouselImages/rsz_disposables.jpg">
          <h4>Disposables</h4></a>
      </div>
      <div class = "sliderButton">
        <a href="/gui/#/Energy"><img src="../carouselImages/rsz_energy.jpg">
          <h4>Energy</h4></a>
      </div>
      <div class = "sliderButton">
        <a href="/gui/#/Food"><img src="../carouselImages/rsz_food.png">
          <h4>Food</h4></a>
      </div>

      <div class="sliderButton">
        <a href="/gui/#/Sustainable Furnishings & Building Materials"><img src="../carouselImages/rsz_furnishings.png">
          <h4>Furnishings</h4></a>
      </div>

      <div class="sliderButton">
        <a href="/gui/#/Pollution & Chemical Reduction"><img src="../carouselImages/rsz_pollution.jpg">
          <h4>Pollution</h4></a>
      </div>

      <div class="sliderButton">
        <a href="/gui/#/Waste"><img src="../carouselImages/rsz_waste.jpg">
          <h4>Waste</h4></a>
      </div>

      <div class="sliderButton">
        <a href="/gui/#/Water"><img src="../carouselImages/rsz_water.jpg">
          <h4>Water</h4></a>
      </div>
    </div>
                
    <div class="col-md-8 col-sm-8" id="guiDiv">
      <div id="centerColumn">
				<div class="row">
					<div id="graphicsDiv" class = "btn-group" role = "group" aria-label = "...">
            <!-- <button id = "mode" type = "button" class = "btn btn-default button graphicsButton">Static Mode</button> -->
            <div id = "buttons" class = "btn-group-vertical" role = "group" aria-label="...">
              <div id = "settings" class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle button graphicsButton" data-toggle="dropdown" aria-expanded="false">
                  <span class="glyphicon glyphicon-cog"></span>
                  Help
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" data-toggle="modal" data-target="#tutorialModal">View Tutorial</a></li>
                  <li><a data-target = "#" id = "tour">Take Restaurant Tour!</a></li>
                  <!-- <li><button type = "button" class = "btn btn-primary">Take Restaurant Tour!</button></li> -->
				  <!--<li><a href="#" data-toggle="modal" data-target="#filterModal">Filter Questions</a></li>-->
                </ul>
            </div>
							<button id = "diningRoomButton" type = "button" class = "btn btn-default button graphicsButton">Dining Room</button>

							<button id = "restroomButton" type = "button" class = "btn btn-default button graphicsButton">Restroom</button>

              <button id = "kitchenButton" type = "button" class = "btn btn-default button graphicsButton">Kitchen</button>

              <button id = "storageButton" type = "button" class = "btn btn-default button graphicsButton">Storage</button>

              <button id = "utilityButton" type = "button" class = "btn btn-default button graphicsButton">Utility</button>

              <button id = "officeButton" type = "button" class = "btn btn-default button graphicsButton">Office</button>

              <button id = "exteriorButton" type = "button" class = "btn btn-default button graphicsButton">Exterior</button>

              <button id = "entranceButton" type = "button" class = "btn btn-default button graphicsButton">Entrance</button>

              <!-- <button id = "testMovementButton" type = "button" class = "btn btn-default button graphicsButton">Test</button> -->
            </div>
            <script>
               $(document).ready(function(){
                      $("#buttonCarousel").owlCarousel({
                            items: 7,
                            itemsDesktop : [1000,7], //5 items between 1000px and 901px
                            itemsDesktopSmall : [900,5], // betweem 900px and 601px
                            itemsTablet: [600,3], //2 items between 600 and 0
                            itemsTabletSmall: [400, 2],
                            itemsMobile : [200, 1] // itemsMobile disabled - inherit from itemsTablet
                        })

                      $(document).tooltip();
                   });

            </script>
						<canvas id="renderCanvas"></canvas>
					</div>
				</div>
            </div>
        </div>
		<div class="col-md-4 col-sm-8" style="padding: 1em; position: relative;"> 
			<div class="progress progress-category">
				<div class="progress-bar progress-bar-danger" id="DisposBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10" style="width: 0%"></div>
				<div class="progress-text" id="DisposBarAfter">
					<a href="/gui/#/Disposables">Disposables</a>
				</div>
			</div>
			<div class="progress progress-category">
				<div class="progress-bar progress-bar-danger" id="EnergyBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10" style="width: 0%"></div>
				<div class="progress-text" id="EnergyBarAfter">
					<a href="/gui/#/Energy">Energy</a>
				</div>
			</div>
			<div class="progress progress-category">
				<div class="progress-bar progress-bar-danger" id="FoodBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10" style="width: 0%"></div>
				<div class="progress-text" id="FoodBarAfter">
					<a href="/gui/#/Food">Food</a>
				</div>
			</div>
			<div class="progress progress-category">
				<div class="progress-bar progress-bar-danger" id="SustaiBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10" style="width: 0%"></div>
				<div class="progress-text" id="SustaiBarAfter">
					<a href="/gui/#/Sustainable Furnishings & Building Materials">Sustainable Furnishings and Building Mat.</a>
				</div>
			</div>
			<div class="progress progress-category">
				<div class="progress-bar progress-bar-danger" id="PollutBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10" style="width: 0%"></div>
				<div class="progress-text" id="PollutBarAfter">
					<a href="/gui/#/Pollution & Chemical Reduction">Poll. & Chem .Reduction</a>
				</div>
			</div>
			<div class="progress progress-category">
				<div class="progress-bar progress-bar-danger" id="WasteBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10" style="width: 0%"></div>
				<div class="progress-text" id="WasteBarAfter">
					<a href="/gui/#/Waste">Waste</a>
				</div>
			</div>
			<div class="progress progress-category">
			<div class="progress-bar progress-bar-danger" id="WaterBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10" style="width: 0%"></div>
				<div class="progress-text" id="WaterBarAfter">
					<a href="/gui/#/Water">Water</a>
				</div>
			</div>
		</div>
		<div class="col-md-8 col-sm-8">
			<div ng-view></div>
		</div>
    </div>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-cookies.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js"></script>
	<script src="/javascripts/angularApp/tutorial.js"></script>
	<script src="/javascripts/angularApp/guiApp.js"></script>
	<script src="/javascripts/angularApp/guiController.js"></script>
	<script src="/javascripts/angularApp/categoryController.js"></script>
	<script src="/javascripts/angularApp/itemController.js"></script>
	<script>
        if (BABYLON.Engine.isSupported()) {
            var canvas = document.getElementById("renderCanvas");
            var engine = new BABYLON.Engine(canvas, true);
            BABYLON.SceneLoader.Load("", "../babylon/TestRestaurant.babylon", engine, function (newScene) {
                // Wait for textures and shaders to be ready
                // console.log(newScene);
                newScene.executeWhenReady(function () {
                    // Attach camera to canvas inputs
                  // newScene.activeCamera = new BABYLON.TouchCamera("touchCamera", new BABYLON.Vector3(-7, 8, -42), newScene);
                  var camera = newScene.activeCamera;

                  newScene.activeCamera.attachControl(canvas);

                    canvas.addEventListener("click", function(){
                        var pickResult = newScene.pick(newScene.pointerX, newScene.pointerY);
                        console.log('mesh name: ' + pickResult.pickedMesh.name);
                        var meshName = pickResult.pickedMesh.name;
                        var index = meshName.indexOf("-");
                        var indexDot = meshName.indexOf(".");
                        var room = meshName.substring(0, index);
                        var item = ''
                        if (indexDot !== -1) {
                          item = meshName.substring(index+1, indexDot);
                        } else {
                          item = meshName.substring(index+1);
                        }
                        if (room !== undefined && item!== undefined && index != -1) {
                            // $http.get('/api/standards/item?room=' + $routeParams.room + '&item=' + $routeParams.item).success(function(data) {
                            //       console.log("getting item data");
                            //       console.log(data);
                            // });
                            window.location.href = '/gui/#/'+room+'/'+item;
                        }
                      });
                    

                    var updatePosition = function(x,y,z){
                      camera.position.x = x;
                      camera.position.y = y;
                      camera.position.z = z;
                    }

                    var updateRotation = function(x,y,z){
                      camera.rotation.x = x;
                      camera.rotation.y = y;
                      camera.rotation.z = z;
                    }
                    var rs = 160;
                    var ds = 3.5;
                    $('#entranceButton').click(function(){
                      var start = babylonPoint2MapPoint({x:camera.position.x, y:camera.position.z});
                      var end = babylonPoint2MapPoint({x:-7, y:-60});
                      manageNavigation(bfs(start, end, DemoRestaurant), ds, rs, {x:-2, y:-50}, camera);
                    })

                    $('#exteriorButton').click(function(){
                      var start = babylonPoint2MapPoint({x:camera.position.x, y:camera.position.z});
                      var end = babylonPoint2MapPoint({x:-6, y:-99});
                      manageNavigation(bfs(start, end, DemoRestaurant), ds, rs, {x:15, y:50}, camera);
                    })

                    $('#diningRoomButton').click(function() {
                      var start = babylonPoint2MapPoint({x:camera.position.x, y:camera.position.z});
                      var end = babylonPoint2MapPoint({x:-6, y:21});
                      manageNavigation(bfs(start, end, DemoRestaurant), ds, rs, {x:-29, y:2}, camera);
                    });

                    $('#restroomButton').click(function() {
                      var start = babylonPoint2MapPoint({x:camera.position.x, y:camera.position.z});
                      var end = babylonPoint2MapPoint({x:-8, y:39});
                      manageNavigation(bfs(start, end, DemoRestaurant), ds, rs, {x:-19, y:40}, camera);
                    });

                    $('#kitchenButton').click(function(){
                      var start = babylonPoint2MapPoint({x:camera.position.x, y:camera.position.z});
                      var end = babylonPoint2MapPoint({x:2, y:-4});
                      manageNavigation(bfs(start, end, DemoRestaurant), ds, rs, {x:4, y:-8}, camera);
                    });

                    $('#utilityButton').click(function(){
                      var start = babylonPoint2MapPoint({x:camera.position.x, y:camera.position.z});
                      var end = babylonPoint2MapPoint({x:4, y:28});
                      manageNavigation(bfs(start, end, DemoRestaurant), ds, rs, {x:7, y:36}, camera);
                    });

                    $('#storageButton').click(function(){
                      var start = babylonPoint2MapPoint({x:camera.position.x, y:camera.position.z})
                      var end = babylonPoint2MapPoint({x:27, y:28});
                      manageNavigation(bfs(start, end, DemoRestaurant), ds, rs, {x:25, y:36}, camera);
                    });

                    $('#officeButton').click(function(){
                      var start = babylonPoint2MapPoint({x:camera.position.x, y:camera.position.z});
                      var end = babylonPoint2MapPoint({x:5, y:1});
                      manageNavigation(bfs(start, end, DemoRestaurant), ds, rs, {x:15, y:11}, camera);
                      });


                    $('#tour').click(function(){
                      runTour();
                    });

                    var runTour = function(){
                      populateTourListTemp();
                      tour([babylonPoint2MapPoint({x:-7, y:-60}),{x:15, y:50}], camera, {x:16, y:50});
                      tourBool = true;
                    }

                    // Once the scene is loaded, just register a render loop to render it
                    engine.runRenderLoop(function() {
                        newScene.render();
                    });
                    window.addEventListener("resize", function(){
                     engine.resize();
                    });  
                });
            });
          }
    </script>
  </body>
</html>