<!DOCTYPE html>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="/bootstrap-3.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/base.css" rel="stylesheet">
  </head>
  <body>
  	<button id="get">Click</button>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="/javascripts/test"></script>
  </body>
</html>