body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.progress-bar a{
  color: #FFFFFF;
}

#guiDiv {
    display: none;
}

#optionsNav {
    display: none;
}

.success {
    color: green;
}

.progress-category {
    display: none;
}

.progress-text {
    position:relative;
    text-align: center;
    z-index: 4;
}

.background {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index:-1;
   overflow: hidden;
}

.etcheader {
    border: 1px solid darkgreen;
    background-color: lightgreen;
}

.etcbody {
    border: 1px solid darkgreen;
}

.row {
    margin-bottom: 0px;
    margin-top: 0px;
}

.modal-open {
    overflow: scroll;
}

.overlay{
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,.8); /* dim the background*/
}

.count {
    font-size: 1.0em;
}
#chooseSectionDesktop{
  display:none;
}
.questionDiv {
    font-size: 1.0em;
}

.questionLabel{
    font-size: 1.0em;
}

#buttonCarousel{
  /*display:inherit !important;*/
}

.sliderButton{
  cursor:pointer;
  cursor:hand;
}

.sliderButton:active{
  color: #004C00;
}

a h4 {
    color: black;
}
