<section>
    <div data-ng-include data-src="'angularviews/navbar.html'"></div>
    <h2>Welcome</h2>
    <button class="btn btn-default" ng-click="goToGUI()">Go to GUI</button>
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{pointsEarned}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pointsEarned}}%">
            <span class="sr-only">40% Complete (success)</span>
        </div>
    </div>
    <table>
        <tr ng-repeat="standard in standards">
            <td>
                {{standard.question | reinsertCommas}}
            </td>
            <td ng-repeat="option in standard.optionList">
                <input type="radio" ng-model="standard.option" value="{{option.points}}">{{option.text}}</input>
            </td>
        </tr>
    </table>
    <button class='btn btn-default' ng-click="save()" ng-show="user">Save</button>
</section>