<section>
    <!--Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span ng-show="showLogInErrorMessage" class="error">{{logInErrorMessage}}</span>
                <h4>Log In</h4>
                <table>
                    <tr>
                        <td class="modal-form">Email </td> <td><input type="text" ng-model="usernamelogin" placeholder="Email" required /></td>
                    </tr>
                    <tr>
                        <td class="modal-form">Password </td> <td><input type="password" ng-model="passwordlogin" placeholder="Password" required/></td>
                    </tr>
                </table>
                <button class="btn btn-default " style="background-color:#00b1ff" ng-click="login(usernamelogin, passwordlogin)">Log In</button>
<!--                 <a href='' ng-click='forgotPasswordModal()' style='font-size: small;'>Forgot Password?</a> -->
            </div>
        </div>
      </div>
    </div>

    <!-- Forgot Password Modal -->
    <div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span ng-show="showForgotPasswordError" class="error">{{forgotPasswordError}}</span>
                <h4>Forgot Password?</h4>
                <table>
                    <tr>
                        <td class="modal-form">Registered Email </td> <td><input type="text" ng-model="forgotPasswordEmail" placeholder="Email" required /></td>
                    </tr>
                </table>
                <button class="btn btn-default " style="background-color:#00b1ff" ng-click="resetPassword(forgotPasswordEmail)">Reset Password</button>
            </div>
        </div>
      </div>
    </div>

    <!-- Sign Up Modal -->
    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span ng-show="showLogInErrorMessage" class="error">{{logInErrorMessage}}</span>
        <table>
        <tr>
            <td class="modal-form">
                <h4>Sign Up</h4>
                <table>
                    <tr>
                        <td class="modal-form">Organization </td> <td><input type="text" ng-model="organization" placeholder="Organization"/></td>
                    </tr>
                    <tr>
                        <td class="modal-form">Email </td> <td><input type="text" ng-model="usernamesignup" placeholder="Email"/></td>
                    </tr>
                    <tr>
                        <td class="modal-form">Password </td> <td><input type="password" ng-model="passwordsignup" placeholder="Password"/></td>
                    </tr>
                    <tr>
                        <td class="modal-form">Comfirm Password </td> <td><input type="password" ng-model="confirmpassword" placeholder="Confirm Password" /></td>
                    </tr>
                    <tr>
                        <td class="modal-form">City </td> <td><input type="text" ng-model="city" placeholder="City" /></td>
                    </tr>
                    <tr>
                        <td class="modal-form">State </td> <td><input type="text" ng-model="state" placeholder="State" /></td>
                    </tr>
                    <tr>
                        <td class="modal-form">Zipcode </td> <td><input type="number" ng-model="zipcode" placeholder="Zipcode" /></td>
                    </tr>
                </table>
                <button class="btn btn-default" style="background-color:#00b1ff" ng-click="signup(usernamesignup, passwordsignup, confirmpassword, city, state, zipcode, organization)">Sign Up</button>
            </td>
            <td class="modal-form">
                <h4>Already have an account?</h4>
                <a href="" ng-click="loginModal()" ng-show="!user">Log In</a>
            </td>
            </tr>
        </table>
      </div>
    </div>

</section>
