<a ng-click="loginModal()" ng-show="!user" class="btn" style="position: relative;background-color: #99CC66;font-weight: bold;font-size: 20px;width: 5em;left: 90%;">Login</a>
<h2 ng-show="user" style="position: relative;color: #001699;font-weight: bold;width: 5em;left: 80%;">Welcome <a href="/list/#/profile">{{user.organization}}</a></h2>
<center class="fullcenter">
    <h1 id="title">Green My Restaurant</h1>
    <div id="notes">Free &#x2022 Online Interactive Tool &#x2022 Learn how Green your Restaurant is already</div>
    <p><a ng-click="introModal()" class="btn" style="background-color: #99CC66;font-weight: bold;font-size: 20px;width: 15em;">Get Started</a></p>
    <p><a href="/list/#/" class="btn" style="background-color: #99CC66;font-weight: bold;font-size: 20px;width: 15em;">Go to List View</a></p>
    <p><a href="/gui/#/" class="btn" style="background-color: #99CC66;font-weight: bold;font-size: 20px;width: 15em;">Go to Interactive View</a></p>
</center>

<!--Intro Modal -->
<div class="modal fade" id="introModal" tabindex="-1" role="dialog" aria-labelledby="introModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <a ng-click="introModal(true)" title="Close" class="close">X</a>
                <h2>Modal Box</h2>
                <p>This is a sample modal box that can be created using the powers of CSS3.</p>
                <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
            </div>
        </div>
    </div>
</div>
<!--Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span ng-show="showLogInErrorMessage" class="error">{{logInErrorMessage}}</span>
                <h4>Log In</h4>
                <table>
                    <tr>
                        <td class="modal-form">Email </td>
                        <td><input type="text" ng-model="usernamelogin" placeholder="Email" required /></td>
                    </tr>
                    <tr>
                        <td class="modal-form">Password </td>
                        <td><input type="password" ng-model="passwordlogin" placeholder="Password" required /></td>
                    </tr>
                </table>
                <button class="btn btn-default " style="background-color:#00b1ff" ng-click="login(usernamelogin, passwordlogin)">Log In</button>
                <a href='' ng-click='forgotPasswordModal()' style='font-size: small;'>Forgot Password?</a>
            </div>
        </div>
    </div>
</div>