<section>
	<div data-ng-include data-src="'angularviews/navbar.html'"></div>
    <h2>Welcome, {{user.organization}}!</h2>
    <span ng-show="showErrorMessage" class="error">{{message}}</span>
    <h3>User Information</h3>
    <div>
    	<ul>
		    <li>
		    	Organization: {{user.organization}}
		    </li>
		    <li>
		    	Email: {{user.username}}
		    </li>
		    <li>
		    	Location: {{user.location.City}}, {{user.location.State}} {{user.location.ZipCode}}
		    </li>
		</ul>
	</div>
    <center>
        <h3>
            Summary: Total Points {{totalPoints}}
        </h3>
    </center>
    <div class="col-md-3 col-sm-12 summary" ng-repeat="category in categoryKeys">
        <h4 style="color: darkgreen">{{category}} <span class="pull-right" style="color:darkblue">{{pointsByCategory[category].value}} Points</span></h4>
        <center style="color: blue" ng-show="pointsByCategory[category].value > 10">You have met the requirement for this category</center>
        <center style="color: red" ng-show="pointsByCategory[category].value <= 10">You need {{10 - pointsByCategory[category].value}} {{category}} more points to be certified</center>
        <div ng-repeat="question in pointsByCategory[category].questions">
            <span class="pull-left" style="width: 50%">{{abbrev(question.question)}}</span>
            <span class="pull-right" style="width: 50%">{{question.value}}</span>
        </div>
    </div>
    <br /><button class='btn btn-default'>Change Password</button>
</section>