<section>
	<div data-ng-include data-src="'angularviews/navbar.html'"></div>
    <img style="position: absolute; left:5em;z-index: 4" src="{{statusImage}}" /><img style="position: absolute; right:5em;z-index: 4" src="{{statusImage}}" />
    <center style="height: 100px;"><h2>Welcome, {{user.organization}}!</h2></center>
    <span ng-show="showErrorMessage" class="error">{{message}}</span>
    <h3>User Information</h3>
    <div class="col-md-6">
        <ul>
            <li>
                Organization: {{user.organization}}
            </li>
            <li>
                Email: {{user.username}}
            </li>
            <li>
                Location: {{user.location.City}}, {{user.location.State}} {{user.location.ZipCode}}
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <a style="text-decoration: underline" target="_blank" href="http://dinegreen.org">Get help with the remaining steps needed for certification.</a><br />
        <a style="text-decoration: underline" target="_blank" href="http://dinegreen.org/restaurants/services.asp#certify">Get your claims verified</a><br />
        <a style="text-decoration: underline" target="_blank" href="http://dinegreen.org">Become a Certified Green Restaurant&reg; for only $50 per month</a>
    </div>
    <button class='btn btn-default' ng-click="changePasswordModal()">Change Password</button>
    <center>
        <h3>
            Summary: Total Points {{totalPoints}}
        </h3>
    </center>
    <div class="col-md-3 col-sm-12 summary" ng-repeat="category in categoryKeys">
        <h4 style="color: darkgreen">{{category}} <span class="pull-right" style="color:darkblue">{{pointsByCategory[category].value}} Points</span></h4>
        <center style="color: blue" ng-show="pointsByCategory[category].value > 10">You have met the requirement for this category</center>
        <center style="color: red" ng-show="pointsByCategory[category].value <= 10">You need {{10 - pointsByCategory[category].value}} {{category}} more points to be certified</center>
        <div ng-repeat="question in pointsByCategory[category].questions">
            <span class="pull-left" style="width: 50%">{{abbrev(question.question)}}</span>
            <span class="pull-right" style="width: 50%">{{question.value}}</span>
        </div>
    </div>

    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span ng-show="showChangePasswordError" class="error">{{changePasswordError}}</span>
                <h4>Log In</h4>
                <table>
                    <tr>
                        <td class="modal-form">Old Password </td> <td><input type="password" ng-model="oldPassword" placeholder="Old Password" required /></td>
                    </tr>
                    <tr>
                        <td class="modal-form">New Password </td> <td><input type="password" ng-model="newPassword" placeholder="New Password" required/></td>
                    </tr>
                    <tr>
                        <td class="modal-form">Confirm New Password </td> <td><input type="password" ng-model="confirmNewPassword" placeholder="New Password" required/></td>
                    </tr>
                </table>
                <button class="btn btn-default " style="background-color:#00b1ff" ng-click="changePassword(oldPassword, newPassword, confirmNewPassword)">Change Password</button>
            </div>
        </div>
      </div>
    </div>
</section>